<mat-card class="">
	<mat-card-title color="primary">LOG  IN</mat-card-title>
		
			<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
				<mat-card-content>
					<p style="color:red;" [hidden]="!error">{{error}}</p>
				<mat-form-field class="full-width">
					
     					
    				
					<input type="text" matInput placeholder="Email"  name="email" [(ngModel)] = "form.email" required>
					<mat-hint align="end">Hint : email@gmail.com</mat-hint>
				</mat-form-field>
				
				<mat-form-field class="full-width">
					<input type="password" matInput placeholder="Enter your password" [(ngModel)] = "form.password" name="password" required>
		
					
				</mat-form-field>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="accent" [disabled]="!loginForm.valid" type="submit">Log In</button>
			<a mat-raised-button color="primary" routerLink="/admin/signup"  style="float: right;">Sign Up</a>

		
		</mat-card-actions>
		</form>
	</mat-card>


