<mat-card class="">
	<mat-card-title color="primary">SIGN UP</mat-card-title>
		
			<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
				<mat-card-content>
					<p style="color:red;" [hidden]="!error">{{error}}</p>
				<mat-form-field class="full-width">
					
     					
    				
					<input type="text" matInput placeholder="Email"  name="email" [(ngModel)] = "form.email" required>
					<mat-hint align="end">Hint : email@gmail.com</mat-hint>
				</mat-form-field>
				
				<mat-form-field class="full-width">
					<input type="password" matInput placeholder="Enter your password" [(ngModel)] = "form.password" name="password" required>
		
					
				</mat-form-field>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="accent" [disabled]="!loginForm.valid">Log In</button>
		</mat-card-actions>
		</form>
	</mat-card>


