
<app-navbar></app-navbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
		<mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen"
		opened *ngIf="loggedIn">

		<mat-list id="menus">
			<mat-card>
				<mat-card-header>
					<div 
					mat-card-avatar 
					class="avatar"></div>

					<mat-card-title>Asif Reaz</mat-card-title>
					<mat-card-subtitle>Director</mat-card-subtitle>
				</mat-card-header>
			</mat-card>
			<mat-list-item>
				<button class="menu-item" mat-flat-button>
					<mat-icon>dashboard</mat-icon>Dashboard
				</button>
			</mat-list-item>

			<mat-list-item>
				<button class="menu-item" mat-flat-button>
					<mat-icon>work</mat-icon>Project
				</button>
			</mat-list-item>

			<mat-list-item>
				<button class="menu-item" mat-flat-button>
					<mat-icon>settings_application</mat-icon>Settings
				</button>
			</mat-list-item>

		</mat-list>
	</mat-sidenav>

	<mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
		<div style="margin: 10px;">
		<router-outlet></router-outlet>
		</div>
		
	</mat-sidenav-content>
</mat-sidenav-container>


